body {
  font-family: "Roboto", "Montserrat", "Open Sans", "Arial", sans-serif;
  color: #212121;
  letter-spacing: 0.03em;
  margin: 0;
}

h1,
h2,
h3,
p,
ul,
figure,
input {
  margin: 0;
}

input {
  border: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  padding-top: 24px;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__logo {
  font-weight: 700;
  font-size: 26px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  line-height: 1.2;
  margin-right: 93px;
}

.nav__logo--highlight {
  color: #2196f3;
}

.nav__bar {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.nav__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:not(:last-child) {
  margin-right: 46px;
}
.nav__link:focus, .nav__link:active, .nav__link:hover {
  color: #2196f3;
}

.nav__link--active {
  position: relative;
  color: #2196f3;
}
.nav__link--active::after {
  content: "";
  position: absolute;
  bottom: -32px;
  width: 100%;
  display: block;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  left: 0;
}

.contact-header__mail, .contact-header__tel {
  font-weight: 500;
  color: #757575;
  line-height: 1.2;
  letter-spacing: 0.02em;
  fill: #757575;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-header__mail:focus, .contact-header__tel:focus, .contact-header__mail:active, .contact-header__tel:active, .contact-header__mail:hover, .contact-header__tel:hover {
  color: #2196f3;
  fill: #2196f3;
}

.contact-header__tel {
  margin-left: 30px;
}

.contact-header__icons {
  margin-right: 10px;
}

.main-section {
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-image.jpg");
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.maim-section__text {
  font-weight: 900;
  font-size: 44px;
  color: #ffffff;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.main-section__button {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  padding-left: 42px;
  padding-right: 41px;
  text-align: center;
}

.button {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__section {
  display: flex;
  align-items: baseline;
}

.footer__data {
  margin-right: 70px;
}

.footer__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #ffffff;
  line-height: 1.4;
  padding-bottom: 20px;
}

.footer__logo--highlight {
  color: #2196f3;
}

.footer__address {
  color: #ffffff;
  line-height: 1.7;
  font-style: normal;
  font-size: 14px;
}

.footer__contact {
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact:focus, .footer__contact:active {
  color: #2196f3;
}

.footer__social-media {
  margin-right: 78px;
}

.footer__sm-text {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer__sm-icons-panel {
  fill: #ffffff;
  display: flex;
  gap: 10px;
}

.footer__sm-icon-frame {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 11px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__sm-icon-frame:hover, .footer__sm-icon-frame:active, .footer__sm-icon-frame:focus {
  background-color: #2196f3;
}

.footer__sm-icons {
  fill: #f5f4fa;
}

.footer__newsletter-title {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer__newsletter-input {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: none;
  width: 345px;
  color: rgba(255, 255, 255, 0.6);
}
.footer__newsletter-input:-moz-placeholder-shown {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
.footer__newsletter-input:placeholder-shown {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.footer__newsletter-button {
  padding-left: 42px;
  padding-right: 0px;
  margin-left: 8px;
  display: inline-flex;
  align-items: center;
}

.footer__news-btn-txt {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.footer_news-btn-pic {
  padding-left: 24px;
  padding-right: 28px;
}

.footer__newsletter-pic {
  fill: #ffffff;
}/*# sourceMappingURL=main.css.map */