.button {
  background-color: $color-highlights;
  color: $color-mainandaddress;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.9;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  padding-right: 41px;
  text-align: center;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
