.footer {
  background-color: $color-theme1-dark-grey;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__section {
  display: flex;
  align-items: baseline;
}

.footer__data {
  margin-right: 70px;
}

.footer__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: $color-mainandaddress;
  line-height: 1.4;
  padding-bottom: 20px;
}

.footer__logo--highlight {
  color: $color-highlights;
}

.footer__address {
  color: $color-mainandaddress;
  line-height: 1.7;
  font-style: normal;
  font-size: 14px;
}

.footer__contact {
  color: rgba(255, 255, 255, 60%);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:active {
    color: $color-highlights;
  }
}
.footer__social-media {
  margin-right: 78px;
}

.footer__sm-text {
  color: $color-mainandaddress;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer__sm-icons-panel {
  fill: $color-mainandaddress;
  display: flex;
  gap: 10px;
}

.footer__sm-icon-frame {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 11px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:active,
  &:focus {
    background-color: $color-highlights;
  }
}

.footer__sm-icons {
  fill: $color-theme2-cream;
}

.footer__newsletter-title {
  color: $color-mainandaddress;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer__newsletter-input {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: none;
  width: 345px;
  color: rgba(255, 255, 255, 0.6);

  &:placeholder-shown {
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
  }
}

.footer__newsletter-button {
  padding-left: 42px;
  padding-right: 0px;
  margin-left: 8px;
  display: inline-flex;
  align-items: center;
}

.footer__news-btn-txt {
  color: $color-mainandaddress;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.footer_news-btn-pic {
  padding-left: 24px;
  padding-right: 28px;
}

.footer__newsletter-pic {
  fill: $color-mainandaddress;
}
