.grid-title-list {
  display: flex;
  gap: 30px;
}

.grid-title-list__item {
  flex-basis: calc((100% - 90px) / 4);
}

.grid-title-list__picture {
  background-color: $color-theme2-cream;
  border-radius: 4px;
  margin-bottom: 30px;
}

.grid-title-list__icons {
  padding-top: 25px;
  padding-bottom: 25px;
}

.grid-title-list__title {
  line-height: 1.2;
  margin-bottom: 10px;
  font-size: 14px;
}

.grid-title-list__text {
  color: $color-theme3-light-grey;
  font-size: 14px;
  line-height: 1.7;
}
